<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
	<div class ="col-sm-4">
	<div class="container"> 
	<h3> Estudiante</h3>

			<p>
				<strong>Nombre:</strong>
				<%= @student.name %>
			</p>

			<p>
				<strong>Dir school:</strong>
				<p id="star"> <%= @schools.find_by_id(@student.school_id).adress %> </p>
			</p>

			<p>
				<strong>user_id:</strong>
				<%= @student.user_id  %>
			</p>

			<p>
				<strong>Casa dir:</strong>
				<p id="end"> <%= @users.find_by_id(@student.user_id).dir %> </p> 
			</p>
			<button  class="btn btn-default" id="btn">Ver en el mapa</button>
			<p><button class="btn btn-default" id="btndriver"> Ver datos Conductor</button></p>
			
		</div> 

	</div>
	<div class="col-sm-8"><div id="map"></div></div>
	<div class="col-sm-4" id="driver">  
		<!-- @rute = @student_drivers.find_by_student_id(@student.id) -->
		<% if @student_drivers.exists?(:student_id => @student.id) %>
		<% @rute = @student_drivers.find_by_student_id(@student.id) %> 
		<% driver = @drivers.find_by_id(@rute.driver_id) %>
		<div class="container"> 
			<h3>Conductor</h3>
			<p>
				<strong>Name:</strong>
				<%=  driver.name %>
			</p>

			<p>
				<strong>Phone:</strong>
				<%= driver.phone %>
			</p>

			<p>
				<strong>Nit:</strong>
				<%= driver.nit %>
			</p>


		</div>
		
		<% end %>

	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4924wlraUwzko-Ta0YJKCe0hW5wLiP6E&callback=initMap"
	async defer></script> 
	
	<ul class="pager">
		<li> <%= link_to 'Edit',  students_path %>  </li>
	</ul>


