<p id="notice"><%= notice %></p>

<div class ="conteiner">
	<p>
		<strong>Name:</strong>
		<%= @student.name %>
	</p>

	<p>
		<strong>Dir school:</strong>
		<p id="star"> <%= @student.dir_school %> </p>
	</p>

	<p>
		<strong>user_id:</strong>
		<%= @student.user_id  %>
	</p>

	<p>
		<strong>Casa dir:</strong>
		<p id="end"> <%= @users.find_by_id(current_user.id).dir %> </p> 
	</p>
	<button id="btn">Ver</button>
</div>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4924wlraUwzko-Ta0YJKCe0hW5wLiP6E&signed_in=true&callback=initMap"
  async defer></script>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
