<p id="notice"><%= notice %></p>

<h1>Listing Student Drivers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_drivers.each do |student_driver| %>
      <tr>
        <td><%= @students.find_by_id(student_driver.student_id).name    %></td>
        <td><%= @drivers.find_by_id(student_driver.driver).name %></td>
        <td>
        <div class="btn btn-group">
        <%= link_to 'Show', student_driver , class:"btn btn-default" %>
        <%= link_to 'Edit', edit_student_driver_path(student_driver), class:"btn btn-default" %>
  <%= link_to 'Destroy', student_driver, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-default" %>  
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student driver', new_student_driver_path %>
