<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"> <%=  link_to "Home", home_index_path %></li>
        <li><%= link_to "About",  home_info_path  %></li>
        <li><a href="#">Contact</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>
         <li class="active">
            <%= link_to current_user.email, edit_user_registration_path  %>
          </li>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li><%= link_to "<span class='glyphicon glyphicon-log-in'></span>Login".html_safe,  new_user_session_path %></li>
          <li><%= link_to "Sing up", new_user_registration_path %></li>
          <% end -%>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="mysiderbar">
       <% if user_signed_in? %>
       <li><%= link_to "Students", students_path  %></li>
       <li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
         <% if current_user.admin?  %>
         <li><%= link_to "Schools", schools_path  %></li>
         <li><%= link_to "Drives", drivers_path  %></li>
         <% end %>
       <% end %> 
     </ul> 
        
    </div>
    <div class="col-sm-8 text-left"> 
       <div class="well">
         <%= yield %>
       </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid text-center">
  <p>Copyright &copy; ShortRoute 2016</p>
</footer>

</body>
</html>